{:deps {org.clojure/clojure       {:mvn/version "1.11.4"}
        org.clojure/data.csv      {:mvn/version "1.0.0"}


        ;; GeoTools
        org.geotools/gt-main      {:mvn/version "24.4"}
        org.geotools/gt-shapefile {:mvn/version "24.4"}
        org.geotools/gt-cql       {:mvn/version "24.4"}

        ;; GeoTrellsi
        org.locationtech.geotrellis/geotrellis-raster_2.13 {:mvn/version "3.7.1"}
        org.locationtech.geotrellis/geotrellis-spark_2.13  {:mvn/version "3.7.1"}
        org.locationtech.geotrellis/geotrellis-store_2.13  {:mvn/version "3.7.1"}}
 :aliases
 {:info
  {:exec-fn   geotrellis-clj.core/get-info
   :exec-args {:url ""}}

  :value
  {:exec-fn   geotrellis-clj.core/get-value
   :exec-args {:url ""
               :row 0
               :col 0}}}}
